.theme-dark {
  --title-font-weight: 785;
  --text-font-weight: 465;
  --background-color: #000;
  --accent-color: #00cc14;
  --background-image: url(../svg/pattern-dark.svg);
  --icon-contour-color: #00cc14;
}

.theme-light {
  --title-font-weight: 700;
  --text-font-weight: 400;
  --background-color: #fff;
  --accent-color: #000;
  --background-image: url(../svg/pattern-light.svg);
  --icon-contour-color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --title-font-weight: 785;
    --text-font-weight: 465;
    --background-color: #000;
    --accent-color: #00cc14;
    --background-image: url(../svg/pattern-dark.svg);
    --icon-contour-color: #00cc14;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --title-font-weight: 700;
    --text-font-weight: 400;
    --background-color: #fff;
    --accent-color: #000;
    --background-image: url(../svg/pattern-light.svg);
    --icon-contour-color: #000;
  }
}
